:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --DarkBlue: hsl(249, 10%, 26%);
  --GrayishBlue: hsl(246, 25%, 77%);
  --White: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Popins", sans-serif;
}
body {
  font-size: 16px;
  background: url(/images/bg-intro-desktop.png) no-repeat center center/cover;
  background-color: var(--Red);
  height: 100vh;
}
.container {
  width: 70%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  height: 100vh;
  gap: 20px;
}
main {
  color: var(--White);
  width: 45%;
}
main h1 {
  font-size: 40px;
  font-weight: 700;
}
main p {
  line-height: 1.7;
  font-weight: 400;
}
.form {
  width: 40%;
}
.form-title{
  margin-bottom: 20px;
  width: 100%;
  background-color: var(--Blue);
  padding: 12px;
  text-align: center;
  border-radius: 8px;
}
.form-title p{
  color: var(--White);
  font-weight: 700;
}
.form-title p span{
  font-weight: 400;
  color: var(--GrayishBlue);
}
form {
 
  padding: 30px 5px 40px;
  width: 100%;
  background-color: var(--White);
  border-radius: 10px;
}

.form-control {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
}
input,
button {
  width: 100%;
  padding: 15px 20px;
  border-radius: 7px;
  outline: none;
  border: 1px solid lightgray;
}
 input:focus{
  border-color: var(--Blue);
}
button {
  color: var(--White);
  background-color: var(--Green);
  border: none;
}
.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
.form i {
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;
}
