@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --DarkBlue: hsl(249, 10%, 26%);
  --GrayishBlue: hsl(246, 25%, 77%);
  --White: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  font-size: 16px;
  background: url(./images/bg-intro-desktop.png) no-repeat center center/cover;
  background-color: var(--Red);
  max-height: 100vh;
}
.container {
  width: 70%;
  margin: 0px auto;
  display: flex;
 margin-top: 100px;
  gap: 20px;
  align-items: center;
}
main {
  color: var(--White);
  width: 50%;
}
main h1 {
  font-size: 40px;
  font-weight: 700;
}
main p {
  line-height: 1.7;
  font-weight: 400;
}
.form {
  width: 40%;
}
.form-title{
  margin-bottom: 20px;
  width: 100%;
  background-color: var(--Blue);
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.form-title p{
  color: var(--White);
  font-weight: 700;
}
.form-title p span{
  font-weight: 400;
  color: var(--GrayishBlue);
}
form {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  padding: 30px 10px;
  width: 100%;
  background-color: var(--White);
  border-radius: 10px;
}

.form-control {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 20px;
}

input
{
  width: 100%;
  padding: 10px 20px;
  border-radius: 6px;
  outline: none;
  border: 1px solid lightgray;
}

 input:focus{
  border-color: var(--Blue);
}
button {
  color: var(--White);
  background-color: var(--Green);
  border: none;
  cursor: pointer;
  width: 90%;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 10px 20px;
  border-radius: 6px;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.form-control small {
  position: absolute;
  bottom: 0;
  right: 0;
  visibility: hidden;
  font-style: italic;
}
.form i {
  position: absolute;
  top: 15px;
  right: 10px;
  visibility: hidden;
}
.form-control.success input {
  border: 2px solid  var(--Green);
}
.form-control.error input {
  border: 2px solid var(--Red);
}
.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}
.form-control.error i.fa-exclamation-circle {
  color: var(--Red);
  visibility: visible;
}
.form-control.error small {
  visibility: visible;
  color: #e74c3c;
}
.terms{
  text-align: center;
  font-size: 12px;
  color: var(--GrayishBlue);
}
.terms span{
  color: var(--Red);
  font-weight: 700;
}
@media(max-width: 768px){
  body{
    background: url(./images/bg-intro-mobile.png) no-repeat center center/cover;
    background-color: var(--Red);
  }
  .container{
   display: block;
   width: 90%;
   align-items: start;
  
  }
  main,.form{
    width: 100%;
  }
  main p{
    margin: 20px 0 30px;
  }
  main{
    text-align: center;
  }
  .form-title{
    padding: 18px 0;
  }
  .form-title p{
    width: 50%;
    margin: auto;
  }
}

footer{
  text-align: center;
  margin-top: 40px;
  color: var(--White);
}
footer a{
  color: var(--White);
}